<div class="container p-0" style="position: relative; top: 30px; bottom: 30px; width: 100%;;">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
      <h3 style="color: black;" class="mb-3 mb-md-0">Users List</h3>
    </div>
  </div>
  <hr>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><b>#</b></th>
                  <th><b>Username</b></th>
                  <th><b>Mobile</b></th>
                  <th><b>Address</b></th>
                  <th><b>Email</b></th>
                  <th><b>City</b></th>
                  <th><b>View</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataUsers, let i = index;"
                  [routerLink]="['/admin/user/view-supervisor', item?.user_id]" style="cursor: pointer;">
                  <td>{{i + 1}}</td>
                  <td>{{item?.u_username}}</td>
                  <td>{{item?.u_mobile}}</td>
                  <td>{{item?.u_address}}</td>
                  <td>{{item?.u_email}}</td>
                  <td>{{item?.u_city}}</td>
                  <td><button type="button" class="btn" style="width: 50%; margin-left: -5px;"><i style="color: #e9af00;" class="fa-solid fa-eye"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
