<br><br>
<div>
  <section id="content">
    <div class="content-wrap">
      <div class="container mw-md">
        <h3 class="h1 fw-bolder mb-4">Create Business</h3><br><br><br>
        <div class="row col-mb-30 gutter-50">
          <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-md-6">
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="categorie">Categorie:</label>
                <select class="form-select" aria-label="Default select example">
                  <!-- <option></option> -->
                  <option *ngFor="let item of data" [value]="item.name">{{ item.name }}</option>
                </select>
              </div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="categorie">Type:</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option value="physique">Physique</option>
                  <option value="en-ligne">En ligne</option>
                </select>
              </div>
              <div class="clear"></div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="name">Name:</label>
                <input type="text" name="name" formControlName="name" id="name" class="form-control fw-semibold">
              </div>
              <div class="clear"></div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="description">Description:</label>
                <input type="text" name="description" formControlName="description" id="description"
                  class="form-control fw-semibold">
              </div>
              <div class="clear"></div>

              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="email">Email:</label>
                <input type="email" name="email" formControlName="email" id="email" class="form-control fw-semibold">
              </div>
            </div>
            <div class="col-md-6">
              <div class="clear"></div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="city">City:</label>
                <input type="text" name="city" formControlName="city" id="city" class="form-control fw-semibold">
              </div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="address">Address:</label>
                <input type="text" name="address" formControlName="address" id="address"
                  class="form-control fw-semibold">
              </div>
              <div class="clear"></div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="mobile">Mobile:</label>
                <input type="text" name="mobile" formControlName="mobile" id="mobile" class="form-control fw-semibold">
              </div>
              <div class="clear"></div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="images1">Image 1:</label>
                <input type="file" name="images1" formControlName="images1" id="images1"
                  class="form-control fw-semibold">
              </div>
              <div class="clear"></div>
              <div class="col-12 form-group">
                <label class="text-transform-none ls-0 fw-normal mb-1" for="images2">Image 2:</label>
                <input type="file" name="images2" formControlName="images2" id="images2"
                  class="form-control fw-semibold">
              </div>
              <div class="clear"></div><br>
              <div class="col-12 form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2">
                  <label class="form-check-label text-transform-none ls-0 mb-0 fw-semibold"
                    for="inlineCheckbox2">Condition générale d'utlisation</label>
                </div>
              </div>
            </div>
            <div class="clear"></div><br>
            <div class="col-12">
              <button type="submit" name="submit"
                class="button button-large bg-alt py-2 rounded-1 fw-medium text-transform-none ls-0 ms-0"
                [disabled]="createbusiness.invalid">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
