<div class="container pt-5">
  <div class="row border justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row flex-column flex-lg-row">
            <!-- Partie logo + nom -->
            <div class="col-12 col-lg-6 p-4 m-0 d-flex align-items-center justify-content-center logo-section rounded-left-5">
              <div class="semi-div1 text-center">
                <div class="sidebar-brand-icon semi1-petit1 rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text semi1-petit2 mx-3">
                  <h2><b>COOCLE SEARCH</b></h2>
                </div>
              </div>
            </div>
            <!-- Partie formulaire -->
            <div class="col-12 col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h3 text-gray-900 mb-4">Mot de passe oublié ?</h1>
                  <p class="mb-4">Veuillez entrer votre adresse e-mail pour recevoir un code de réinitialisation.</p>
                </div>
                <form class="row" [formGroup]="forgot_form" (submit)="forgotPassword()">
                  <div class="col-12 mb-3 text-start">
                    <div class="form-group col-12 d-flex align-items-center">
                      <span class="icon me-2"><i class="fas fa-envelope"></i></span>
                      <input class="input flex-grow-1" type="email" formControlName="u_email" placeholder="Email" required>
                    </div>
                  </div>

                  <button [disabled]="forgot_form.invalid" class="btn-style login-btn">Réinitialiser le mot de passe</button>
                </form><br>
                <div class="text-center">
                  <a [routerLink]="['/auth/login']" class="small">← Retour à la connexion</a>
                </div>
              </div>
            </div>
            <!-- Fin formulaire -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
