a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.masthead{
  height: 350px!important;
  margin-bottom: 20px;
}

.search_respo {
  display: none;
}

.submit_search {
  display: block;
}

.forgot{
  color: rgb(49, 49, 247);
  text-decoration: underline;
  cursor: pointer; /* Assurez-vous que le pointeur change sur le survol */
  position: relative;
  z-index: 10;  /* Assurez-vous que le lien est au-dessus des autres éléments */
}

.search-wrapper input {
  padding-right: 2.5rem !important;
}

@media (max-width: 576px) {
  .masthead{
    height: 250px!important;
  }

  .profile-menu {
    right: 1rem!important; /* aligne le menu à droite de son conteneur parent */
    top: 2.5rem!important;
  }

  .submit_search {
    display: none;
  }

  .search_respo {
    display: block;
  }

  // .search-icon-inside {
  //   display: block;
  //   right: 15px;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   position: absolute;
  //   color: #6c757d; /* gris élégant */
  //   font-size: 1.1rem;
  //   pointer-events: none; /* pour ne pas bloquer le clic dans le champ */
  //   z-index: 10;
  // }

  // .search-icon {
  //   display: block;
  // }

  .search-btn-inside {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: none;
    border: none;
    color: #6c757d;
    font-size: 1.3rem;
    z-index: 10;
    padding: 0;
  }
  .search-btn-inside:disabled {
    opacity: 0.5;
    pointer-events: none;
  }


  .div_header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-top: -8rem!important;
}
}

@media (min-width: 577px) {
  .masthead{
    height: 250px;
  }

  .div_header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-top: -8rem!important;
  }

  .submit_search {
    display: none;
  }

  .search_respo {
    display: block;
  }

  .search-icon-inside {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: #6c757d; /* gris élégant */
    font-size: 1.1rem;
    pointer-events: none; /* pour ne pas bloquer le clic dans le champ */
    z-index: 10;
  }
}

@media (min-width: 1025px) {
  .submit_search {
    display: block
  }

  .div_header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-top: -5rem!important;
}

  .grdiv_search{
    display: flex;
  }

  .search_respo {
    display: none;
  }
}

@keyframes slow-rotate {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.rotate-left {
  animation: slow-rotate 4s infinite ease-in-out;
}

img{
  max-height: 850px;
  min-height: 850px;
  min-width: 100%;
}

.showcase .row.g-0 > [class*="col-"] {
  padding: 0;
}

.showcase .showcase-img {
  max-height: 850px!important;
  background-size: cover !important;
  background-position: center center !important;
}

.object-fit-cover {
  object-fit: cover;
}

.hover-zoom {
  transition: transform 0.5s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.05);
  z-index: 2;
}

.showcase h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block; /* Le bouton est visible lorsqu'il est activé */
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.rotate-on-hover{
  padding-left: 0px;
}


.rotate-on-hover:hover {
  transform: rotate(15deg);
  transition: transform 0.3s ease;
}


#backToTopBtn:hover {
  background-color: #0056b3;
}

.run{
  background: linear-gradient(to right, #a37b04, #dda706);
  border: 0px;
  padding: 8px 15px;
}

.profile-menu {
  position: absolute;
  z-index: 1050;
  min-width: 170px;
  max-width: 170px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.profile-menu {
  right: 0; /* aligne le menu à droite de son conteneur parent */
  left: auto; /* annule toute position à gauche */
}

.profile-menu .dropdown-item:active,
.profile-menu .dropdown-item.active {
  background-color: transparent !important;
  color: inherit !important;
}

.profile-menu .dropdown-item {
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 0.375rem;
}

.profile-menu .dropdown-item:hover {
  background-color: #4d7a8d;
  color: #000;
}

.viewbusiness{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* gris semi-transparent */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showAll {
  border: solid, 1px, #0f2027;
  color: #203a43;
}

.showAll:hover {
  background: linear-gradient(to right, #a37b04, #dda706);
  color: white;
  border: solid, 1px, #a37b04;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.5); /* noir semi-transparent */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn-fav {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  color: #2c5364;
  border: none;
  font-size: 1.32rem;
  z-index: 10;
  border-radius: 50%;
  padding: 6px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.btn-fav:hover {
  transform: scale(1.1);
}

.btn-fav.active {
  color: #ffc107;
}

@media (max-width: 576px) {

  .profile-menu {
    right: 1rem!important; /* aligne le menu à droite de son conteneur parent */
    top: 2.5rem!important;
  }

  img {
    max-height: 300px;
    min-height: 300px;
    min-width: 100%;
  }

  .showcase-img {
    max-height: 300px!important;
    background-size: cover !important;
    background-position: center center !important;
  }

  .responsive-header {
    padding-top: 0 !important;
    padding-bottom: 1rem !important;
    margin-bottom: 3rem !important;
  }

  .responsive-header .container {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-top: -3rem;
  }

  .responsive-header .btnprofil {
    margin-top: -0.5rem !important;
    margin-right: 0rem !important
  }

  .responsive-header .profile-menu {
    margin-top: -1rem !important;
    margin-right: -1rem !important
  }

  .responsive-header h1,
  .responsive-header h2 {
    font-size: 2rem !important;
  }

  .responsive-header form {
    margin-top: 1rem;
  }
}

.logo{
  cursor: pointer;
}

.shadow-sm{
  border: 0;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .masthead{
    height: 250px!important;
  }

  .tablet-fullwidth {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .submit_search {
    display: none;
  }

  .search-btn-inside {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: none;
    border: none;
    color: #6c757d;
    font-size: 1.3rem;
    z-index: 10;
    padding: 0;
  }
  .search-btn-inside:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .search_respo {
    display: block;
  }

  img {
    max-height: 500px;
    min-height: 500px;
    min-width: 100%;
  }

  .showcase-img {
    max-height: 500px!important;
    background-size: cover !important;
    background-position: center center !important;
  }
}

