input, textarea, select {
  color: #000 !important;
}

label {
  color: #444;
  font-weight: 500;
}

.card h5 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.btn-warning {
  background: linear-gradient(135deg, #ffc107, #6d5203);
  border: none;
  color: white;
}

.btn-warning:hover {
  background: linear-gradient(135deg, #6d5203, #ffc107);
}

.btn-outline-dark:hover {
  background-color: #333;
  color: white;
}
