<br>
<div style="display: flex; justify-content: space-around;" class="text-center text-muted mt-5">
  <img src="" alt="Logo Trouvez Tous">
</div>
<div class="" id="wrapper">
  <form [formGroup]="createuser" (submit)="Createuser()" [ngClass]="{'blur-background': loading}">
    <h2 style="text-align: center;">Create Admin</h2>
    <hr><br>
    <div class="mt-2 div-input">
      <label for="InputFullname">Fullname:</label>
      <input type="text" class="form-control" formControlName="fullname" id="InputFullname" aria-describedby="emailHelp">
    </div><br>
    <div class="mt-2 div-input">
      <label for="InputUsername">Username:</label>
      <input type="text" class="form-control" formControlName="username" id="InputUsername" aria-describedby="emailHelp">
    </div><br>
    <div class="mt-2 div-input">
      <label for="InputMobile">Mobile:</label>
      <input type="text" class="form-control" formControlName="mobile" id="InputMobile" aria-describedby="emailHelp">
    </div><br>
    <div class="mt-2 div-input">
      <label for="InputAddress">address:</label>
      <input type="text" class="form-control" formControlName="address" id="InputAddress" aria-describedby="emailHelp">
    </div><br>
    <div class="mt-2 div-input">
      <label for="InputEmail">Email:</label>
      <input type="email" class="form-control" formControlName="email" id="InputEmail" aria-describedby="emailHelp">
    </div><br>
    <div class="mt-2 div-input">
      <label for="InputPassword">Password:</label>
      <input type="password" class="form-control" formControlName="password" id="InputPassword">
    </div><br>
    <div class="mt-2 div-input">
      <label for="InputCity">City:</label>
      <input type="text" class="form-control" formControlName="city" id="InputCity" aria-describedby="emailHelp">
    </div><br>
    <div class="mt-2" style="display: flex; justify-content: space-between;">
      <button type="submit" class="btn btn-primary">Create:</button>
    </div><br>
  </form>
  <app-spinner style="margin-top: -300px;" class="overlay" *ngIf="loading"></app-spinner>
  <div *ngIf="success" style=" position: absolute; margin-left: -300px; display: flex; top: 53.4%; height: 35px; padding-top: 5px; padding-bottom: 0px;" class="overlay alert alert-success text-center" role="alert">
    Categorie creer avec succès !
  </div>
</div>
<br><br>
