<div class="body">
  <div class="login-container">
    <div class="login-header">
      <h3><b>COOCLE SEARCH</b></h3>
    </div>
    <div class="login-box">
      <div class="avatar">
        <i class="fas fa-laugh-wink img rotate-left"></i>
      </div>
      <form [formGroup]="login_form" (ngSubmit)="loginUser()">

        <div class="row mb-3 text-start">
          <div class="form-group d-flex align-items-center">
            <span class="icon me-2"><i class="fas fa-user"></i></span>
            <input class="input flex-grow-1" type="text" formControlName="username" placeholder="Nom d'utilisateur" required>
          </div>
        </div>

        <div class="row mb-3 text-start">
          <div class="form-group d-flex align-items-center">
            <span class="icon me-2"><i class="fas fa-phone"></i></span>
            <input class="input flex-grow-1" type="password" formControlName="password" placeholder="********" required>
          </div>
        </div>

        <button type="submit"  [disabled]="isLoading" [disabled]="login_form.invalid" class="login-btn"
          onmouseover="this.style.background='linear-gradient(135deg, #ffc107, #6d5203)'"
          onmouseout="this.style.background='linear-gradient(135deg, #203a43, #2c5364)'">
          Se connecter
        </button>
      </form>

      <br>
      <div class="d-flex justify-content-between align-items-center">
        <a [routerLink]="['/auth/forgot-password']" class="small">Mot de passe oublié ?</a>
        <a [routerLink]="['/auth/register']" class="small">S'inscrire</a>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100">
    <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" id="successToastBody">
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>

    <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" id="errorToastBody">
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
