<div class="container" style="position: relative; top: 30px; bottom: 30px; width: 100%;;">
  <h3 class="">All Business</h3><br>
  <form class="p-0">
    <div class="d-flex justify-content-between col-12 p-0 m-0">
      <div class="col-7"></div>
      <div class="col-4">
        <div class="form-group">
          <label for="user">Categories</label>
          <select style="height: 50px;" class="form-select" name="" id="source_country">
            <option class="text-capitalize"></option>
          </select>
        </div>
      </div>
      <div style="margin-top: 31.5px;" class="col-1 text-center">
        <div class="form-group col-12">
          <button style="height: 50px;" type="submit" class=" btn btn-primary ">Generate</button>
        </div>
      </div>
    </div>
  </form><br>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table report_gcc">
        <thead>
          <tr>
            <th scope="col">#</th>
            <td>Categories</td>
            <td>Type</td>
            <td>Name</td>
            <td>Description</td>
            <td>Email</td>
            <td>City</td>
            <td>Address</td>
            <td>Mobile</td>
            <td>Image 1</td>
            <td>Image 2</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i = index" class="op-06">
            <td> {{ i+1 }} </td>
            <td> {{ item.bu_categories }} </td>
            <td> {{ item.bu_type }} </td>
            <td> {{ item.bu_name }} </td>
            <td> {{ item.bu_description }} </td>
            <td> {{ item.bu_email }} </td>
            <td> {{ item.bu_city }} </td>
            <td> {{ item.bu_address }} </td>
            <td> {{ item.bu_mobile }} </td>
            <td> {{ item.bu_image1 }} </td>
            <td> {{ item.bu_image2 }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
