.d-lg-block {
  background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
}

.sidebar-brand-icon {
  color: white;
  font-size: 8rem;
}

.semi-div1 {
  margin-top: 40%;
  color: white;
  display: flex;
  padding: 0px 0px 0px 20px;
  justify-content: space-around;
}

.semi1-petit2 {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  margin-left: 0px!important;
}

.small{
  font-size: 16px;
}