.d-lg-block {
  background-color: #4e73df;
}

.sidebar-brand-icon {
  color: white;
  font-size: 8rem;
}

.semi-div1 {
  margin-top: 44%;
  color: white;
  display: flex;
  padding: 0px 0px 0px 20px;
  justify-content: space-around;
}

.semi1-petit2 {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  margin-left: 0px!important;
}
