.table th, .table td {
  vertical-align: middle;
}

.btn-sm {
  width: 36px;
  height: 36px;
  padding: 0;
  border: 0px;
  font-size: 16px;
  background: linear-gradient(to right, #a37b04, #dda706);
}

.btn-outline-warning{
  color: white;

}

.btn-sm:hover {
  background: linear-gradient(to right, #203a43, #396679);
}

.btn {
  border: 0px;
  background: linear-gradient(to right, #a37b04, #dda706);
}

.btn:hover {
  background: linear-gradient(to right, #203a43, #396679);
}
