.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.6rem;
  width: 14rem;

}

.sidebar{
  background-image: linear-gradient(180deg,#063bda 10%, #042074 100%);

}