<div class="container p-0" style="position: relative; top: 30px; bottom: 30px; width: 100%;;">
  <h3 style="color: black;" class="">All Business</h3><br>
  <form class="p-0"[formGroup]="searchbusiness" (submit)="Readallbusinessbycategories()">
    <div class="d-flex justify-content-between col-12 p-0 m-0">
      <div class="col-7"></div>
      <div class="col-4">
        <div class="form-group">
          <label for="user">Categories</label>
          <select style="color: black;" class="form-select" formControlName="bu_categorie" class="form-control fw-semibold" >
            <option></option>
            <option *ngFor="let category of allCategories" [value]="category">{{ category }}</option>
          </select>
        </div>
      </div>
      <div style="margin-top: 31.5px;"  class="col-1 text-center">
        <!-- <div class="form-group col-12">
          <button style="height: 50px;" type="submit" class=" btn btn-primary ">Generate</button>
        </div> -->
        <div class="col-12">
          <button type="submit" name="submit" [disabled]="searchbusiness.invalid" class="btn btn-primary">Generate</button>
        </div>
      </div>
    </div>
  </form><br>
  <div class="row">
    <div class="col-12  -responsive">
      <table class="table report_gcc" *ngIf="dataBusiness && dataBusiness.length > 0">
        <thead style="color: black;">
          <tr>
            <th scope="col"><b>#</b></th>
            <td><b>Categorie</b></td>
            <td><b>Type</b></td>
            <td><b>Name</b></td>
            <td><b>Email</b></td>
            <td><b>City</b></td>
            <td><b>Mobile</b></td>
            <td><b>Edit</b></td>
            <td><b>Delete</b></td>
          </tr>
        </thead>
        <tbody>
          <tr class="op-06" *ngFor="let  business of dataBusiness; let i = index">
            <td class="ps-3">{{i+1}}</td>
            <td> {{ business?.bu_categorie }} </td>
            <td> {{ business?.bu_type }} </td>
            <td> {{ business?.bu_name }} </td>
            <td> {{ business?.bu_email }} </td>
            <td> {{ business?.bu_city }} </td>
            <td> {{ business?.bu_mobile }} </td>
            <td><button type="button" class="btn" style="width: 50%; margin-left: -5px;" (click)="Readsingleproducts(business.bu_uid)"><i style="color: #e9af00;" class="fa-solid fa-eye"></i></button></td>
            <td><button type="button" class="btn" style="width: 50%;" (click)="Deleteproduct(business.bu_uid)"><i class="fa-solid fa-trash-can text-danger"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

