<div style="height: auto; margin-bottom: 50px;" class="container-fluid">
  <div style="width: 90%!important;" class="container">
    <h1 class="op-06">ALL admin</h1><br>
    <form class="form-inline m-0 p-0">
      <div style="display: flex; width: 50%; margin-left: 50%;" class="form-group">
        <input style="width: 80%;" type="text" class="form-control m-0" id="searchIterms"  name="searchIterms" placeholder="Entrer id Admin">
        <button style="width: 20%;" type="submit" class="btn btn-primary m-0 p-0">Search</button>
      </div>
    </form>
    <!-- <div style="margin-left: -1px; width: 80.3%;" >
      <ul class="ulsearch">
        <li></li>
      </ul>
    </div>
    <div class="error-message" Class="mb-0">
      <p Class="mb-0">Erreur: Veuillez sélectionner un element dans la liste qui vous est proposée.</p>
    </div>
    <div style="text-align: center; margin-top: 50px;" class="op-06">
      <p>Localisation: </p>
    </div> -->
  </div>
</div>
<div style="width: 70%; border: 1px solid; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;" class="container text-left p-0">
  <div style="border-bottom: 1px solid; height: 40px; padding-top: 8px;" class="row align-items-start m-0">
    <div class="col-2">
      Number
    </div>
    <div class="col-3">
      Nom Complet
    </div>
    <div class="col-5">
      Id Admin
    </div>
    <div class="col-2">
      One of three columns
    </div>
  </div>
  <div style="height: 40px; padding-top: 8px; color: rgb(116, 116, 116);" class="row align-items-start m-0">
    <div class="col-2">
      1
    </div>
    <div class="col-3">
      Jean Marc
    </div>
    <div class="col-5">
      eh5er4ht44h5tr4z4er6j46rzt4ej6
    </div>
    <div class="col-2">
      One of three columns
    </div>
  </div>
</div><br>
