<div style="height: auto; margin-bottom: 50px;" class="container-fluid">
  <div style="width: 90%!important;" class="container">
    <h2 class="mt-5">ALL admin</h2><br>
    <form class="form-inline m-0 p-0">
      <div style="display: flex; width: 50%; margin-left: 50%;" class="form-group">
        <input style="width: 80%;" type="text" class="form-control m-0" id="searchIterms"  name="searchIterms" placeholder="Entrer id Admin">
        <button style="width: 20%;" type="submit" class="btn btn-primary m-0 p-0">Search</button>
      </div>
    </form><br>
    <div style="position: relative; top: 30px; bottom: 30px; width: 100%;;">
      <div class="row">
        <div class="col-12 table-responsive">
          <table class="table report_gcc">
            <thead>
              <tr>
                <th scope="col">#</th>
                <td>Fullname</td>
                <td>Username</td>
                <td>Mobile</td>
                <td>Address</td>
                <td>Email</td>
                <td>City</td>
              </tr>
            </thead>
            <tbody>
              <tr class="op-06">
                <td>1</td>
                <td>Jean Marc</td>
                <td>eh5er4ht44h5tr4z4er6j46rzt4ej6</td>
                <td>Bon Admin</td>
                <td>Bon Admin</td>
                <td>Bon Admin</td>
                <td>Bon Admin</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
