<div style="height: 905px;">
  <br>
  <div style="display: flex; justify-content: space-around;" class="text-center text-muted mt-5">
    <img src="" alt="Logo Trouvez Tous">
  </div>
  <div id="wrappe">
    <form [formGroup]="createcategories" (ngSubmit)="Createcategories()">
      <h2>Create categories</h2>
      <hr><br>
      <!-- Champ Name -->
      <div class="div-input">
        <label for="exampleInputEmail1" class="form-label">Name:</label>
        <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp">
      </div><br>
      <!-- Champ Description -->
      <div class="div-input">
        <label for="exampleInputEmail1" class="form-label">Description:</label>
        <textarea class="form-control" formControlName="description" cols="25" rows="3"></textarea>
      </div><br>
      <div class="mt-2 p-2" style="display: flex; justify-content: end;">
        <button type="submit" class="btn btn-primary" [disabled]="createcategories.invalid">Create</button>
      </div><br>
    </form>
  </div>
</div>
<div class="text-center Copyrights text-muted"><small>Copyrights &copy; All Rights Reserved by foleyKant.</small></div>
