
.back-btp-style {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  // padding: 12px;
  border: none;
  // width: 25%;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.back-btp-style:hover {
  background: linear-gradient(to right, #ffc107, #6d5203);
}