a {
  cursor: pointer;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  width: 100%;
  background: #fff;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}

.img-profile {
  object-fit: cover;
}