<br>
<div style="display: flex; justify-content: space-around;" class="text-center text-muted mt-5">
  <img src="" alt="Logo Trouvez Tous">
</div>
<div id="wrappe">
  <form>
    <h2 class="text-center">REGISTER ORDERS</h2>
    <hr><br>
    <div>
      <header class="mb-4">Customer Form</header>
      <div>
        <div class="div-input">
          <label for="fullnameCustomer" class="form-label">Full name Customer:</label>
          <input type="text" class="form-control" name="fullnameCustomer" id="fullnameCustomer"  formControlName="fullnameCustomer" aria-describedby="fullnameCustomer">
        </div><br>
        <div class="mt-2 div-input">
          <label for="mobileCustomer" class="form-label">Contacte Customer:</label>
          <input type="text" class="form-control" name="mobileCustomer" id="mobileCustomer"  formControlName="mobileCustomer" aria-describedby="mobileCustomer">
        </div><br>
        <div class="mt-2 div-input">
          <label for="addressCustomer" class="form-label">Address Customer:</label>
          <input type="text" class="form-control" name="addressCustomer" id="addressCustomer"  formControlName="addressCustomer" aria-describedby="addressCustomer">
        </div><br>
        <div class="mt-2 div-input">
          <label for="emailCustomer" class="form-label">Email Customer:</label>
          <input type="email" class="form-control" name="emailCustomer" id="emailCustomer"  formControlName="emailCustomer" aria-describedby="emailCustomer">
        </div><br>
        <div class="mt-2 div-input">
          <label for="Service" class="form-label">Service:</label>
          <select class="form-control" name="fullnamePartner" id="fullnamePartner" formControlName="fullnamePartner" aria-describedby="fullnamePartner">
            <option value="" ></option>
            <option value="">Foley</option>
            <option value="">Kant</option>
            <option value="">Delko</option>
            <option value="">Ruth</option>
            <option value="">Kth</option>
          </select>
        </div><br>
        <div class="mt-2 div-input">
          <label for="serviceDescription" class="form-label">Service Description:</label>
          <input type="text" class="form-control" name="serviceDescription" id="serviceDescription"  formControlName="serviceDescription" aria-describedby="serviceDescription">
        </div><br>
        <div class="mt-2 div-input">
          <label for="executionDate" class="form-label">Execution Date:</label>
          <input type="date" class="form-control" name="executionDate" id="executionDate"  formControlName="executionDate" aria-describedby="executionDate">
        </div><br>
      </div>
    </div><br><br>
    <div>
      <header class="mb-4">Partner Form</header>
      <div>
        <div class="div-input">
          <label for="fullnamePartner" class="form-label">Full name Partner:</label>
          <select class="form-control" name="fullnamePartner" id="fullnamePartner" formControlName="fullnamePartner" aria-describedby="fullnamePartner">
            <option value="" ></option>
            <option value="">Foley</option>
            <option value="">Kant</option>
            <option value="">Delko</option>
            <option value="">Ruth</option>
            <option value="">Kth</option>
          </select>
        </div><br>
        <div class="mt-2 div-input">
          <label for="facture" class="form-label">Facture</label>
          <input type="text" class="form-control"  name="facture" id="facture" formControlName="facture" aria-describedby="facture" placeholder="FCFA">
        </div><br>
      </div>
    </div><br>
    <div class="mt-2 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Valider Orders</button>
    </div><br>
  </form>
</div>
<div class="text-center Copyrights text-muted"><small>Copyrights &copy; All Rights Reserved by foleyKant.</small></div>
