<div>
  <section id="content">
    <div class="content-wrap">
      <div class="container mb-5 p-5 mw-md">
        <h3 class="h1 fw-bolder mb-4">Create Business</h3><br>
        <form class="row" method="post" enctype="multipart/form-data" [formGroup]="createbusiness" (submit)="Createbusiness()">
          <div class="col-md-6">
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="categorie">Categorie<span class="text-danger">*</span></label>
              <select class="form-select" formControlName="categorie" class="form-control fw-semibold" aria-label="Default select example">
                <option *ngFor="let category of allCategories" [value]="category">{{ category }}</option>
              </select>
            </div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="categorie">Type<span class="text-danger">*</span></label>
              <select class="form-select" formControlName="type" class="form-control fw-semibold" aria-label="Default select example">
                <option value="physique">Physique</option>
                <option value="en-ligne">En ligne</option>
              </select>
            </div>
            <div class="clear"></div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="name">Name<span class="text-danger">*</span></label>
              <input type="text" name="name" formControlName="name" id="name" class="form-control fw-semibold">
            </div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="description">Description<span class="text-danger">*</span></label>
              <textarea type="text" name="description" formControlName="description" id="description" class="form-control fw-semibold"></textarea>
            </div>
            <div class="clear"></div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="email">Email<span class="text-danger">*</span></label>
              <input type="email" name="email" formControlName="email" id="email" class="form-control fw-semibold">
            </div>
            <div class="col-12 form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2">
                <label class="form-check-label text-transform-none ls-0 mb-0 fw-semibold" for="inlineCheckbox2">Condition générale d'utlisation</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="city">City<span class="text-danger">*</span></label>
              <input type="text" name="city" formControlName="city" id="city" class="form-control fw-semibold">
            </div>
            <div class="clear"></div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="address">Address<span class="text-danger">*</span></label>
              <input type="text" name="address" formControlName="address" id="address" class="form-control fw-semibold">
            </div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="mobile">Mobile<span class="text-danger">*</span></label>
              <input type="text" name="mobile" formControlName="mobile" id="mobile" class="form-control fw-semibold">
            </div>
            <div class="clear"></div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="images1">Image 1<span class="text-danger">*</span></label>
              <input type="file" name="images1" formControlName="image1" id="images1" class="form-control fw-semibold">
            </div>
            <div class="col-12 form-group">
              <label class="text-transform-none ls-0 fw-normal mb-1" for="images2">Image 2</label>
              <input type="file" name="images2" formControlName="image2" id="images2" class="form-control fw-semibold">
            </div>
            <div class="clear"></div><br>

          </div>
          <div class="clear"></div><br>
          <div class="col-4"></div>
          <div class="col-4">
            <button type="submit" name="submit" class="btn btn-primary btn-user btn-block">Create</button>
          </div>
          <div class="col-4"></div>
        </form>
      </div>
    </div>
  </section>
</div>
<!-- [disabled]="createbusiness.invalid" -->
