<div style="height: 811px;">
  <br><br><br><br>
  <div style="display: flex; justify-content: space-around;" class="text-center text-muted mt-5">
    <img src="" alt="Logo Trouvez Tous">
  </div>
  <div id="wrappe">
    <form>
      <h2>Edit password</h2>
      <hr><br>
      <div class="div-input">
        <label for="exampleInputEmail1" class="form-label"> Old password:</label>
        <input type="email" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div><br>
      <div class="div-input">
        <label for="exampleInputEmail1" class="form-label"> New password:</label>
        <input type="email" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div><br>
      <div class="div-input">
        <label for="exampleInputPassword1" class="form-label">Confirmation:</label>
        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
      </div><br><br>
      <div style="display: flex; justify-content:end;" class=" mx-0">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
