<div id="wrapper">
  <header id="header">
    <div id="header-wrap" class="border-0">
      <div class="container">
        <div class="header-row justify-content-lg-between px-4 px-xl-0">
          <div style="border-bottom: 1px solid rgb(202, 202, 202);" class="order-1 order-lg-1 text-lg-center p-lg-4 py-3">
            <img src="./assets/demos/academic/images/person-thumb.jpg" alt="Canvas Logo" class="rounded-circle square square-lg mb-lg-3 d-none d-lg-inline-block">
            <div class="">
              <h3 class="mb-0 fw-normal lh-1">Pliff Jenkins</h3>
              <p class="mb-0 op-06 fw-light">Canvas Researcher</p>
            </div>
          </div>
          <!-- <div class="primary-menu-trigger order-3 order-lg-2 ms-auto ms-sm-3">
            <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
              <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner">tfrthtrdhtr</span></span>
            </button>
          </div> -->
          <div class="header-misc order-2 order-lg-last ms-auto d-none d-sm-flex">
            <div class="d-flex justify-content-center w-100 py-4">
              <a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-facebook" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-x-twitter" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-instagram" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-linkedin" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
          </div>
          <nav class="primary-menu order-last order-lg-2">
            <!-- <ul class="menu-container one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="0"> -->
              <!-- <li class="menu-item"><a class="menu-link" routerLink="trouveztout" data-href="#section-about"><div><i class="bi bi-search"></i> Create Business</div></a></li> -->
              <!-- <li class="menu-item"><a class="menu-link"  [routerLink]="['create-categories']"  data-href="#section-works"><div><i class="fa-solid fa-plus"></i>Create Categorie</div></a></li> -->
              <!-- <li class="menu-item"><a class="menu-link" routerLink="settings" data-href="#section-experience"><div><i class="bi-person-gear"></i> Settings</div></a></li> -->
              <!-- <li class="menu-item"><a class="menu-link" href="#" data-href="#section-journal"><div><i class="bi-journal-text"></i> Journal</div></a></li>
              <li class="menu-item"><a class="menu-link" href="#" data-href="#section-research"><div><i class="bi-binoculars"></i> Research</div></a></li>
              <li class="menu-item"><a class="menu-link" href="#" data-href="#section-blog"><div><i class="bi-pencil"></i> Blog</div></a></li>
              <li class="menu-item"><a class="menu-link" href="#" data-href="#section-contact"><div><i class="bi-envelope-open"></i> Contact</div></a></li> -->
            <!-- </ul> -->
            <ul id="sidebarnav">
              <li class="nav-small-cap p-0">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" [routerLink]="['ad-home']"  aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-house"></i>
                  </span>
                  <span class="hide-menu">Home</span>
                </a>
              </li>
              <li class="nav-small-cap p-0">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Business</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" [routerLink]="['create-business']"  aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-plus"></i>
                  </span>
                  <span class="hide-menu">Create Business</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" [routerLink]="['readall-business']"  aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-layer-group"></i>
                  </span>
                  <span class="hide-menu">All Business</span>
                </a>
              </li>
              <li class="nav-small-cap p-0">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Categories</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" [routerLink]="['create-categories']" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-plus"></i>
                  </span>
                  <span class="hide-menu">Create Categories</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" [routerLink]="['readall-categories']" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-layer-group"></i>
                  </span>
                  <span class="hide-menu">All Categories</span>
                </a>
              </li>
              <li class="nav-small-cap p-0">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Settings</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="settings/profil" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-hotel"></i>
                  </span>
                  <span class="hide-menu">Profil</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="settings/password" aria-expanded="false">
                  <span>
                    <i class="fa fa-list"></i>
                  </span>
                  <span class="hide-menu">Password</span>
                </a>
              </li>
              <!-- <li class="sidebar-item">
                <a class="sidebar-link" routerLink="hotels" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-hotel"></i>
                  </span>
                  <span class="hide-menu">Discounts</span>
                </a>
              </li> -->
              <!-- <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Discounts</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="discounts/package"aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-box-archive"></i>
                  </span>
                  <span class="hide-menu">Package</span>
                </a>
              </li>
              <li class="sidebar-item"><li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Discounts</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="discounts/free-night" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-hotel"></i>
                  </span>
                  <span class="hide-menu">Free night</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="discounts/promo-code" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-ticket"></i>
                  </span>
                  <span class="hide-menu">Promo code</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Orders</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="orders" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-list-ul"></i>
                  </span>
                  <span class="hide-menu">Orders</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="orders/extras" aria-expanded="false">
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="hide-menu">Extras</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Reports</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="reports" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-arrow-trend-up"></i>
                  </span>
                  <span class="hide-menu">Reports</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Settings</span>
              </li>
             <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/settings/general" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-gear"></i>
                  </span>
                  <span class="hide-menu">General</span>
                </a>
              </li>
             <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/settings/system" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-gears"></i>
                  </span>
                  <span class="hide-menu">System</span>
                </a>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="header-wrap-clone"></div>
  </header>
  <div>
    <router-outlet></router-outlet>
  </div>
  <footer id="footer" class="bg-contrast-0 border-width-1">
    <div id="copyrights" class="bg-color">
      <div class="container">
        <p class="mb-0 text-center text-dark text-opacity-75">Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.</p>
      </div>
    </div>
  </footer>
</div>
<div id="gotoTop" class="uil uil-angle-up"></div>
