.nav-small-cap{
  margin-bottom: 5px;
}
.sidebar-item{
  margin-bottom: 3px;
  color: rgb(194, 194, 194);
}
.sidebar-item > a{
  color: rgb(77, 77, 77);
}
.sidebar-link > .hide-menu{
  margin-left: 10px;
}
nav{
  margin-top: -200px;
  height: auto;
}
