<div style="border: 1px solid;" class="container text-left" >
  <div class="row align-items-start">
    <div class="col-4">
      <img src="" alt="Image Item">
    </div>
    <div class="col-8">
      <div class="row align-items-start">
        <div class="col-3">
          Title:
        </div>
        <div class="col-9">
          One of three columns
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-3">
          Name:
        </div>
        <div class="col-9">
          One of three columns
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-3">
          Email:
        </div>
        <div class="col-9">
          One of three columns
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-3">
          Description:
        </div>
        <div class="col-9">
          One of three columns
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-3">
          Mobile:
        </div>
        <div class="col-9">
          One of three columns
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-3">
          Address:
        </div>
        <div class="col-9">
          One of three columns
        </div>
      </div>
    </div>
  </div>
</div>
