<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion shadow" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-2">COOCLE Search</div>
  </a>

  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" routerLink="/teller/dashboard">
      <i class="fas fa-chart-line"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <hr class="sidebar-divider">
  <div class="sidebar-heading">Gestion</div>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBusiness">
      <i class="fas fa-briefcase"></i>
      <span>Entités</span>
    </a>
    <div id="collapseBusiness" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Mes entités</h6>
        <a class="collapse-item" routerLink="/teller/business/create-business">Ajouter une entité</a>
        <a class="collapse-item" routerLink="/teller/business/readall-business">Voir mes entités</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdvertissement">
      <i class="fas fa-bullhorn"></i>
      <span>Publicités</span>
    </a>
    <div id="collapseAdvertissement" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Mes publicités</h6>
        <a class="collapse-item" routerLink="/admin/advertisement/create-adver">Créer une publicité</a>
        <a class="collapse-item" routerLink="/admin/advertisement/readall-adver">Voir mes publicités</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories">
      <i class="fas fa-tags"></i>
      <span>Catégories</span>
    </a>
    <div id="collapseCategories" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Catégories dispo</h6>
        <a class="collapse-item" routerLink="/teller/categories/readall-categories">Toutes les catégories</a>
        <a class="collapse-item" routerLink="/teller/categories/create-categories">Proposer une catégorie</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider">
  <div class="sidebar-heading">Compte</div>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings">
      <i class="fas fa-user-cog"></i>
      <span>Paramètres</span>
    </a>
    <div id="collapseSettings" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Modifier mon profil</a>
        <a class="collapse-item" href="#">Mot de passe oublié</a>
      </div>
    </div>
  </li>
</ul>
