.logo-section {
  background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
}

input, textarea, select {
  font-size: 16px;
}


.sidebar-brand-icon i {
  color: #ffc107;
  font-size: 6rem;
}

.rotate-n-15 {
  transform: rotate(-15deg);
}

.rounded-left-5 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.semi-div1 {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.semi1-petit2 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.btn-style {
  width: 100%;
  padding: 12px;
  background-color: #203a43;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
}

.row {
  --bs-gutter-x: -4rem !important;
  --bs-gutter-y: 0;
  display: flex
;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-0.5* var(--bs-gutter-x));
  margin-left: calc(-0.5* var(--bs-gutter-x));
}

@media (max-width: 768px) {
  .sidebar-brand-icon i {
    font-size: 4rem;
  }

  .semi-div1 {
    flex-direction: column;
    text-align: center;
  }

  .semi1-petit2 {
    margin-left: 0;
    margin-top: 10px;
  }

  .rounded-left-5 {
    border-radius: 7px 7px 0 0 !important;
  }


}

@media (max-width: 991.98px) { /* Tablette et smartphone */
  .row {
    --bs-gutter-x: 1rem !important; /* Remet un espacement normal */
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
}