<!-- <div style="height: 905px;">
  <br>
  <div style="display: flex; justify-content: space-around;" class="text-center text-muted mt-5">
    <img src="" alt="Logo Trouvez Tous">
  </div>
  <div id="wrappe">
    <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategory()">
      <h2>Modifier la catégorie</h2>
      <hr><br>
      <div class="div-input">
        <label for="name" class="form-label">Nom:</label>
        <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="nameHelp">
      </div><br>
      <div class="div-input">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" formControlName="description" id="description" cols="25" rows="3"></textarea>
      </div><br>
      <div class="mt-2 p-2" style="display: flex; justify-content: end;">
        <button type="submit" class="btn btn-primary" [disabled]="updateCategoryForm.invalid">Modifier</button>
      </div><br>
    </form>
  </div>
</div>
<div class="text-center Copyrights text-muted"><small>Copyrights &copy; All Rights Reserved by foleyKant.</small></div> -->
