<div class="container" style="position: relative; top: 30px; bottom: 30px; width: 100%;;">
  <h3 class="">All Business</h3><br>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table report_gcc">
        <thead>
          <tr>
            <th class="op-06" scope="col">#</th>
            <td>Name</td>
            <td>Description</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data" >
            <td></td>
            <td> {{item.name}} </td>
            <td> {{item.description}} </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

