<div class="container" style="position: relative; top: 30px; bottom: 30px; width: 100%;;">
  <h3 class="">All Categories</h3><br><br>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table report_gcc">
        <thead>
          <tr>
            <th class="op-06" scope="col">#</th>
            <td>Name</td>
            <td>Description</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i = index" >
            <td> {{i+1}} </td>
            <td> {{item.name}} </td>
            <td> {{item.description}} </td>
            <td> {{item.description}} </td>
            <td> {{item.description}} </td>
            <!-- <td class="p-0"><button type="button" class="btn" style="width: 50%; margin-left: -5px;" (click)="editCategorie(item.ca_uid, item.name)"><i style="color: #e9af00;"  class="fa-solid fa-pencil"></i></button></td> -->
            <!-- <td class="p-0"><button type="button" class="btn" style="width: 50%;" (click)="deleteCategorie(item.ca_uid)"><i class="fa-solid fa-trash-can text-danger"></i></button></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

