<body>
  <div class="d-sm-flex">
    <h3 class="fw-bold text-dark m-0">Dashboard</h3>
    <a href="#" class="btn"><i class="fas fa-download fa-sm text-white-50"></i> Générer un rapport</a>
  </div>

  <div class="grid">
    <div class="card">
      <div class="stats"><i class="fas fa-store"></i> <strong>{{infos_reports.all_business}}</strong> Entités enregistrées</div>
    </div>
    <div class="card">
      <div class="stats"><i class="fas fa-bullhorn"></i> <strong>{{infos_reports.all_publicites_active}}</strong> Publicités actives</div>
    </div>
    <div class="card">
      <div class="stats"><i class="fas fa-eye"></i> <strong>{{infos_reports.all_vue_this_month}}</strong> Vues ce mois</div>
    </div>
    <div class="card">
      <div class="stats"><i class="fas fa-heart"></i> <strong>{{infos_reports.all_business_favoris}}</strong> Favoris utilisateurs</div>
    </div>
  </div>

  <div class="grid" style="margin-top: 40px">
    <div class="card">
      <h3>Entités les plus visitées</h3>
      <table *ngIf="most_visited_entities && most_visited_entities.length > 0">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Vues</th>
            <th>Favoris</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of most_visited_entities; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ entity.bu_name }}</td>
            <td>{{ entity.vues }}</td>
            <td>{{ entity.favoris }}</td>
          </tr>
        </tbody>
      </table>
      <div class="no_view" *ngIf="most_visited_entities && most_visited_entities.length === 0">
        Aucune entité populaire pour le moment.
      </div>

    </div>

    <!-- <div class="card">
      <h3>Carte de localisation</h3>
      <div class="map">(Carte géographique à intégrer ici)</div>
    </div> -->

    <div class="card">
      <h3>Statistiques de recherche</h3>
      <div class="chart">(Graphique dynamique à intégrer ici)</div>
    </div>

    <div class="card">
      <h3>Alertes / Vérifications</h3>
      <ul>
        <li>1 entité sans géolocalisation</li>
        <li>3 entités non visitées depuis 30 jours</li>
      </ul>
    </div>
  </div>
</body>