<div class="container my-5 p-4 shadow bg-white rounded">
  <div class="row align-items-center mb-4">
    <div class="col-md-8">
      <h2 class="fw-bold text-dark mb-2">{{ all_business.bu_name }}</h2>
      <span class="badge bg-primary">{{ all_business.bu_categorie }}</span>
      <span class="badge bg-secondary ms-2 text-capitalize">{{ all_business.bu_type }}</span>
    </div>
    <div class="col-md-4 text-end">
      <button class="btn btn-outline-secondary rounded-pill me-2" (click)="goBack()">
        <i class="bi bi-arrow-left-circle me-1"></i> Retour
      </button>
      <button class="btn btn-warning rounded-pill shadow-sm" (click)="goToUpdate()">
        <i class="bi bi-pencil-square me-1"></i> Mettre à jour
      </button>
    </div>
  </div>

  <div class="row g-4">
    <!-- <div class="col-md-6">
      <div class="mb-3">
        <img [src]="all_business.bu_picture || 'assets/img/default.jpg'" class="img-fluid h-100 rounded shadow-sm"
          alt="Image principale">
      </div>
    </div> -->

    <div class="col-md-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Description :</strong><br>
          {{ all_business.bu_description }}
        </li>
        <li class="list-group-item">
          <strong>Téléphone :</strong> {{ all_business.phone }}
        </li>
        <!-- Physique -->
        <li class="list-group-item">
          <i class="bi bi-building text-secondary me-1"></i>
          <strong>{{ ville }}</strong> {{ all_business.bu_city }}
        </li>
        <li class="list-group-item">
          <i class="bi bi-geo-alt-fill text-secondary me-1"></i>
          <strong>{{ adresse }}</strong> {{ all_business.bu_address }}
        </li>
        <!-- En ligne -->
        <li class="list-group-item">
          <i class="bi bi-globe2 text-secondary me-1"></i>
          <strong>{{ bu_website }}</strong>
          <a [href]="all_business.bu_website" target="_blank" rel="noopener noreferrer">
            {{ all_business.bu_website }}
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
