.list-group-item {
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

img.img-fluid {
  max-height: 300px;
  object-fit: cover;
}

.goBack {
  background: linear-gradient(to right, #a37b04, #dda706);
  color: white;
  border: 0px;
}

.goBack:hover {
  background: linear-gradient(to right, #203a43, #396679);
}

.btn-warning {
  background: linear-gradient(to right, #a37b04, #dda706);
  border: none;
  color: white;
  transition: 0.3s ease;
}

.btn-warning:hover {
  background: linear-gradient(to right, #203a43, #396679);
  color: white;
}
